.side-navbar {
    width: 240px;
    min-width:240px;
    background-color: #ebfffa;
    transition: 0.5s;
ul {
    list-style-type: none;
&.nested {
     display: none;
     transition: all 0.5s ease;
 }
li{
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
&.has-submenu{
>a {


}
}
a {
    color:#6c757d;
    font-size:14px;
    width: 100%;
    text-decoration: none;

&.router-link-active {
     color: #0f68de;
> ul {
li{

}
&.nested {
     display: block;
 }
}
}
&.router-link-exact-active{
     color: #75afde;
 }
}
}
}


}
@media all and  (max-width: 767.98px) {
    .side-navbar {
        margin-left: -240px;
        position: fixed;
        height: calc(100vh - 100px);
        z-index: 99;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .mini-menu {
    .side-navbar {
        margin-left: 0px;

    }
}
}