.side-navbar {
    width: 240px;
    min-width: 240px;
    background-color: #ebfffa;
    transition: 0.5s;
}

/*@media all and  (max-width: 767.98px) {*/
/*    .side-navbar {*/
/*        margin-left: -240px;*/
/*        position: fixed;*/
/*        height: calc(100vh - 100px);*/
/*        z-index: 99;*/
/*        overflow-x: hidden;*/
/*        overflow-y: auto;*/
/*    }*/

/*}*/